<h2>フォロワーユーザー一覧</h2>
<table class="table table-bordered">
  <tr class="info"><th>名前</th><th>アドレス</th></tr>
  <% @follower.each do |follower| %>
    <tr>
      <td><%= follower.name %></td>
      <td><%= follower.email %></td>
    </tr>
  <% end %>
</table>
