<h1>Achieveにお問い合わせをしました</h1>

<p><%= @contact.name %>様</p>
<br>

<p>お問い合わせありがとうございます。</p>
<p>システム担当者です。</p>

<p>以下のお問い合わせ内容を確認させていただき後日改めてご回答をさせていただきます。</p>
<p>お客様emailアドレス：<%= @contact.email %></p>
<p>お問い合わせ内容：<%= @contact.content %></p>

<p>以上、宜しくお願い致します。</p>
